.container {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: stretch;
}

.left {
  flex: 2;
  padding: 30px;
  min-height: 300px;
  border: 1px solid blue;
}

.right {
  flex: 1;
  padding: 30px;
  border: 1px solid blue;
}
