.container {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: stretch;
}

.left {
  flex: 2;
  padding: 30px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  tspan {
    font-size: 12px;
  }
}

.counter {
  flex: 1;
  max-height: 130px;
  padding: 10px;
  margin: 30px;
  // background: $light-error-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $gray-light;
  box-shadow: 3px 3px 10px rgba(0,0,0, .2);

  h3 {
    font-weight: 300;
  }

  span {
    font-size: 40px;
  }
}

.right {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
